.error-panel {

}

/*This is for the location name*/
.weather_location_name{

    font-family : "arial";
    font-size   : 16;
    color       : darkgrey;
    float       : left;

}
/*This is for the day just below the location name */
.day{

    font-family : "arial";
    font-size   : 10;
    color       : darkgrey;
    float       : left;
}
/*This is for the weather forecast such as Cloudy, Rainy, etc */
.weather_forecast{
    font-family : "arial";
    font-size   : 10;
    color       : darkgrey;
    float       : left;
}
/*This is for the weather status icon such as Cloudy.png, Rainy.png, etc */
.weather_status_icon{
    float       :  left;
    height      : 64px;
    width       :  64px;
}
