.error-panel {

}

.weather_Location_name{

    font-family : "arial";
    color: darkgrey;

}

.day{

    font-family : "arial";
    color : darkgrey;
}

.weather_status_name{
    font-family : "arial";
    color : darkgrey;
}

.weather_status_icon{

}

